[submodule "third_party/rsyn/third_party/def"]
	path = third_party/rsyn/third_party/def
	url = https://github.com/The-OpenROAD-Project/def
[submodule "third_party/rsyn/third_party/lef"]
	path = third_party/rsyn/third_party/lef
	url = https://github.com/The-OpenROAD-Project/lef
[submodule "third_party/flute3"]
	path = third_party/flute3
	url = https://github.com/The-OpenROAD-Project/flute3.git
[submodule "third_party/OpenDB"]
	path = third_party/OpenDB
	url = https://github.com/The-OpenROAD-Project/OpenDB.git
