[submodule "third_party/rsyn/third_party/def"]
	path = third_party/rsyn/third_party/def
	url = mgh:The-OpenROAD-Project/def
[submodule "third_party/rsyn/third_party/lef"]
	path = third_party/rsyn/third_party/lef
	url = mgh:The-OpenROAD-Project/lef
